* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: rgb(132, 130, 130);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: rgb(181, 15, 142);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: darkgray;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: gray;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: rgb(79, 24, 87);
}

#new-task-submit {
	color: rgb(183, 31, 206);
	font-size: 1.25rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.2;
}

.main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(181, 15, 142);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	background-color:darkgray;
}

#tasks .task .content {
	flex: 1 1 0%;
}

#tasks .task .content {
	color: whitesmoke;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

#tasks .task .content .text {
	color: rgb(112, 63, 111);
	font-size: 18px;
}

#tasks .task .action {
	display: flex;
	margin: 0 -0.5rem;
}

#tasks .task .action button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 0.8rem;
	font-weight: 700;
	transition: 0.4s;
	color: blueviolet;
}

#tasks .task .action button:hover {
	opacity: 0.8;
}

#tasks .task .action button:active {
	opacity: 0.4;
}

#tasks .task .action .delete {
	color: rgb(174, 57, 172);
}